body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

h1{
    margin: 0;
    font-size: 1.8rem;
}

h2{
    font-size: 1.2rem;
    margin: 15px auto;
}

button{
    width: 115px;
}

.wrapper{
    width: 100%;
}

#loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000057;
    align-items: center;
    text-align: center;
    display: none;
}

#loading div{
    width: 100%;
}

#loading div img{
    width: 39px;
}

#app{
    max-width: 600px;
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 0 22px #d7d7d7;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

#select-pages{
    width: 100%;
    height: 415px;
    overflow-y: scroll;
    border: 1px solid #e9e9e9;
}

#select-pages p{
    background: #f8f8f8;
    padding: 15px;
    margin: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#select-pages img{
    width: 50px;
    border-radius: 100px;
    border: 1px solid #f1f1f1;
}

#select-pages p span{
    display: inline-block;
}

#select-pages p span:last-of-type{
    float: right;
}

#select-pages p span button{
    font-weight: bold;
}

.btn-login{
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    background: #139ef8;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 50px;
}

#create-page{
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: flex-start;
}

#create-page a{
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    background: #139ef8;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.login{
    text-align: center;
    width: 100%;
}

.login p{
    color: #333;
    max-width: 60%;
    margin: 0 auto 15px auto;
    font-size: 14px;
}